@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Neucha&display=swap');
.siBody{
  background:  linear-gradient(to bottom, rgb(75, 167, 167), rgb(236, 243, 244));
  display: flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
  margin: 0;
}
#loginsection{
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px (0,0,0,0.2);
  width : 300px;
}
#loginheader{
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  color: #8e2de2;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: Italiana,Neucha;
  font-size: 30px;
}
.lol{
  margin-bottom: 50px;
}
.input {
  width: 100%; 
  height: 40px;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  padding: 0 12px; 
  font-size: 16px;
}
.loginbutton{
  align-items: center;
  border-radius: 10px;
  padding: 0 12px;
  width : 150px;
  height : 35px;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-left: 25%;
}
.loginbutton:hover{
  background-color: rgb(80, 62, 161);
}
.divider{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000000;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}
.divider:not(:empty)::after {
  margin-left: 0.75em;
}
.google{
   align-items: center;
  border-radius: 10px;
  padding: 0 12px;
  height: 40px;
  background-color: white;
  color: rgb(75, 75, 189);
  cursor: pointer;
  margin-left: 25%;
}
